@model ControlePatrimonios.sala

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Salas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Sala")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descSala)
        </dd>

        <dt>
            @Html.Label("Prédio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.predio.descPredio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = @Model.idSala, idPredio = @Model.idPredio }) |
    @Html.ActionLink("Voltar", "Index")
</p>
