@model ControlePatrimonios.ben

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Bens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descBem)
        </dd>

        <dt>
            @Html.Label("Categoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.descCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idBem, idCat = Model.idCategoria}) |
    @Html.ActionLink("Voltar", "Index")
</p>
